
*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    box-sizing: border-box;
}
body{
    background-image: url("/img/fundo3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
button{
    background-color: rgb(252, 253, 252);
}
button i{
     pointer-events: none;
  color: black;
}

button:hover{
    background-color: green;
}
button:hover i{
    color: aliceblue;
}
input, select{
    padding: 2px 13px;
}

/* container */

.container{
max-width: 350px;
margin: 5rem auto;
background-color: aquamarine;
border-radius: 15px;
padding: 1.5rem;
height: min-content;

}
.container header {
    text-align: center;
    border-bottom: 3px green solid;
}

/* container */

#formulario, #formulario-editar{
    padding: 3px;
    border-bottom: 3px green solid;
    
}

#formulario p, #formulario-editar p{
    margin-bottom: 6px;
    font-weight: 500;

}

#cancelar{ 
    margin-top: 5px;
    margin-bottom: 5px;
}

#pesquisar{
    display: flex;
    padding: 3px;
    border-bottom: 3px solid green;
    margin-bottom: 5px;
    gap: 5px;
}
#filtar h4{
   margin-bottom: 4px;
}
#pesquisar-itens{
    border-right: 3px solid green;
    padding-right: 5px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom:4px;
}

#pesquisar-itens form{
    display: flex;
}

#pesquisar-itens input{
    width: 100%;
    margin-right: 5px;
}
.form-editar{
    display: none;
}
.form-itens{
   margin-bottom: 5px;
}
#filtrar{
    width: 40%;
    display: flex;
    flex-direction: column;

}
#filtrar select{
margin-top: 3px;
}

.todas-tarefas{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    padding: 5px;
    border-bottom: 3px solid green;
    transition: .3s;
}
.todas-tarefas h4{
    flex: 1;
    font-size: 19px;
}
.todas-tarefas button{
    margin-left: 5px;
}
 .feita{
    background-color: rgb(240, 245, 238);
 }
 .feita h4{
    color: rgb(8, 8, 8);
    text-decoration: line-through;
    font-style: italic;
 } 

 .prontas {
    display: none;
 }